<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!--服务器路径-->
      <add key="Remote_Woek_Dir" value="http://tc-svn.tencent.com/isd/isd_qqvipserver_rep/ClubDev1Imgcache_proj/trunk/imgcache.qq.com/htdocs"/>
      <!--本地路径-->
      <add key="Local_Woek_Dir" value="E:\svn\isd_qqvipserver_rep\ClubDev1Imgcache_proj\trunk\imgcache.qq.com\htdocs"/>
      <!--特征字符串-->
      <add key="Ftp_Upload_Dir" value="imgcache.qq.com/htdocs"/>
    </appSettings>
</configuration>