<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    
      <pages enableViewState="false" enableViewStateMac="false" 
			   enableSessionState="false" autoEventWireup="false" validateRequest="false" 			   
			   pageParserFilterType="LL.FrameWork.Web.MVC.ViewTypeParserFilter, LL.FrameWork.Web" 
			   pageBaseType="LL.FrameWork.Web.MVC.ViewPageBae, LL.FrameWork.Web" 
			   userControlBaseType="LL.FrameWork.Web.MVC.ViewUserControl, LL.FrameWork.Web">
			<namespaces>
				<add namespace="LL.FrameWork.Web.MVC" />
				<add namespace="System.Collections.Generic"/>
			</namespaces>
		</pages>
		<httpHandlers>
      <!--iis6下面的配置-->
			<!--<add path="*.aspx" verb="*" type="LL.FrameWork.Web.MVC.MvcPageHandlerFactory, LL.FrameWork.Web" validate="true" />-->
		</httpHandlers>  

    </system.web>

  <system.webServer>
    <handlers>
      <add name="MyAspx" path="*.aspx" verb="*" type="LL.FrameWork.Web.MVC.MvcPageHandlerFactory, LL.FrameWork.Web" />
    </handlers>
  </system.webServer>
</configuration>
