<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>

  <castle>
    <components>
      <component id="taxcalc.service" type="Castle.Windsor.Study.TaxCalculator, Castle.Windsor.Study">
        <parameters>
          <rate>0.23</rate>
          <Holidays>
            <array>
              <item>2014-06-05 10:05:30</item>
              <item>2014-06-06</item>
              <item>2014-06-07</item>
            </array>
          </Holidays>
          <Aliases>
            <dictionary>
              <entity key="aaa">A</entity>
              <entity key="bbb">B</entity>
              <entity key="ccc">C</entity>
            </dictionary>
          </Aliases>
        </parameters>
      </component>
      
      <component id="RMSInterceptor.Service" service="Castle.DynamicProxy.IInterceptor, Castle.Core" type="Castle.Windsor.Study.RMSInterceptor, Castle.Windsor.Study"></component>
      
      <component id="SimpleRMS.Service" 
                 service="Castle.Windsor.Study.IRMS, Castle.Windsor.Study" 
                 type="Castle.Windsor.Study.SimpleRMS, Castle.Windsor.Study">
        <interceptors>
          <interceptor>${RMSInterceptor.Service}</interceptor>
        </interceptors>
      </component>
      <component id="SecondRMS.Service" service="Castle.Windsor.Study.IRMS, Castle.Windsor.Study" type="Castle.Windsor.Study.SecondRMS, Castle.Windsor.Study">
        <interceptors>
          <interceptor>${RMSInterceptor.Service}</interceptor>
        </interceptors>
      </component>
    </components>
  </castle>
  
</configuration>